header {
    background: #0c157b;
    margin: 0 auto;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

HTML {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;

}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav li :hover{
    color: rgb(0, 229, 255);
}


nav ul li a {
    color: #fff;
    text-decoration: none;
    margin: 0;
}
 /* Hero */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 40px;
    color: #000000;
    background-color: #6ee9ff;
  }
  
  .hero-section .text {
    flex: 5;
  }
  
  .hero-section .text h2 {
    font-size: 45px;
  }
  
  .hero-section .text {
    margin-top: 25px;
  }
  
  .hero-section .text a {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .hero-section .text a:hover {
   color: #fff;
  }
  
  .hero-section .headshot {
    flex: 2;
    display: flex;
    justify-content: right;
  }
  
  .hero-section .headshot img {
    width: 350px;
    border-radius: 50%;
  }



section {
    padding: 80px 20px;
    display: flex;
    
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: space-between;

}

section h2 {
    margin-bottom: 20px;
}

section li {
    display: inline;
    padding-inline-start: 100px;
}



.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;

  }

  .box {
    width: 300px;
    height: 300px;
    margin: 20px;
    box-sizing: border-box;
    text-align: center;
    background: rgb(226, 226, 226);
    font-size: 50px;
    border-style:groove;
    border-color: rgb(20, 184, 255);
    border-width: 7px;
    }

    .box2 {
      width: 380px;
      height: 400px;
      margin: 20px;
      box-sizing: border-box;
      text-align: center;
      background: rgb(226, 226, 226);
      font-size: 50px;
      border-style:groove;
      border-color: rgb(20, 184, 255);
      border-width: 7px;
      }

    .container :hover{
    box-shadow: 5px 10px 10px  #6ee9ff;
    background-color: #6ee9ff;
    }

.contact ul li {
    display: inline;
    font-size: larger;
    text-align: center;
    color: #fff;

}

.contact a {
  color: #fff;
}

.contact h2{
    margin: 50px;
    text-align: center;
    margin-left: 500px;
    color: #fff;
}


footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    margin-top: 70px;
    width: 100%;
    left: 0;
}

@media screen and (max-width: 992px) {
    section .hero{
      width: 50%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .section .hero {
      width: 100%;
    }
  }
  
 
  @media screen and (max-width: 576px) {
    .section .hero{
        width: 25px;
    }
    }